@font-face{
	font-family: armalite;
	src: local(armalite), url('../fonts/armalite.ttf') format('opentype');
}

body {
	text-align: center;
	background: black;
	color:#e3d6a8;
	font-size: 16px;
	font-family: armalite;
	font-weight: normal;
}

body a:link{
	color: #588c6e;
}
body a:visited{
	color: #588c6e;
}
body a:hover{
	color: #75b992;
}
body a:active{
	color: #588c6e;
}

div.sandbox {
	background-image: url("../img/sand-bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 3em;
	border: .7em;
	border-color: #588c6e;
	border-style: solid;
	display: inline-block;
	padding: 2em 3em;
	text-align: center;
	vertical-align: middle;
}

h2{
	font-size: 48px;
	font-weight: normal;
}

h3{
	font-size: 32px;
	font-weight: normal;
	vertical-align: middle;
}

h4{
	font-size: 24px;
	font-weight: normal;
}

img.h3-inline-motormerc{
	height: .9em;
	vertical-align: middle;
}